@import "variables.scss";
@import url("https://fonts.googleapis.com/css?family=Nova+Oval&display=swap");
.showed-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
  .header-content {
    .header-content-item {
      margin: $mg-2;
      font-size: $fs-2 + 5;
    }
  }
  .header-authentication {
    .header-authentication-item {
      margin: $mg-2;
      i {
        font-size: $fs-4;
      }
    }
  }
}

.hidden-header {
  .header-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 0;
    .header-logo {
      width: 100px;
      height: 100%;
    }
    .header-title-text {
      font-size: $fs-4;
      font-family: "Nova Oval", cursive;
    }
    .header-menu-toggle {
      width: 100px;
      height: 100%;
      button {
        width: 100%;
        height: 100%;
        mat-icon {
          font-size: $fs-4;
          padding-bottom: $pd-3;
        }
      }
    }
  }

  .header-menu {
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 10;
    height: 100vh;
    width: 50%;
    transition: all 0.3s linear;
    mat-toolbar {
      height: 100%;
    }
  }
  .back-drop {
    position: absolute;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.3);
  }
}
