<ng-container *ngIf="!(isSmall$ | async); else hiddenHeader">
  <mat-toolbar
    class="showed-header d-flex justify-content-between"
    color="primary"
  >
    <div class="header-logo col-2">
      <span>
        <img
          src="../../../assets/images/logo.png"
          alt="Cinema logo"
          width="95px"
      /></span>
    </div>
    <div class="header-content col-6 d-flex justify-content-center">
      <span class="header-content-item">
        <a (click)="scrollTo('/', 'cover')">Trang chu</a>
      </span>
      <span class="header-content-item">
        <a (click)="scrollTo('/', 'showTime')">Lich chieu</a>
      </span>
      <span class="header-content-item">Tin tuc</span>
    </div>
    <div
      class="header-authentication d-flex align-items-center col-4 justify-content-end"
    >
      <ng-container *ngIf="isAuthenticated; else anonymousTemp">
        <span class="header-authentication-item" matTooltip="Tai Khoan">
          <i class="material-icons">account_circle</i>
        </span>
        <span class="header-authentication-item">Dang xuat</span>
      </ng-container>
      <ng-template #anonymousTemp>
        <span class="header-authentication-item d-flex align-items-center"
          ><i class="material-icons mr-2">input</i>Dang nhap</span
        >
        <span class="header-authentication-item">Dang ki</span>
      </ng-template>
    </div>
  </mat-toolbar>
</ng-container>
<ng-template #hiddenHeader>
  <div class="hidden-header">
    <mat-toolbar class="header-bar" color="primary">
      <div class="header-logo d-flex justify-content-center align-items-center">
        <img
          src="../../../assets/images/logo.png"
          alt="Cinema logo"
          width="95px"
        />
      </div>
      <div class="header-title">
        <h1 class="header-title-text">CineMEOW</h1>
      </div>
      <div
        class="header-menu-toggle d-flex justify-content-center align-items-center"
      >
        <button mat-button (click)="drawMenu()" *ngIf="!isDrawed">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <div
      class="header-menu"
      [ngStyle]="
        isDrawed
          ? { transform: 'translateX(-100%)' }
          : { transform: 'translateX(0)' }
      "
    >
      <mat-toolbar>
        <mat-toolbar-row class="p-0" style="height: 100px">
          <button
            mat-button
            (click)="drawMenu()"
            style="width: 100%; height: 100%;"
          >
            <mat-icon>close</mat-icon>Menu
          </button>
        </mat-toolbar-row>
        <mat-divider> </mat-divider>
        <mat-toolbar-row>
          <span>Trang chu</span>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <span>Phim dang chieu</span>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <span>Phim sap chieu</span>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <span>Tin tuc</span>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
    <div class="back-drop" *ngIf="isDrawed" (click)="drawMenu()"></div>
  </div>
</ng-template>
