// color

$color-pink-0: #c2185b;

// font size
$fs-0: 12px;
$fs-1: 16px;
$fs-2: 20px;
$fs-3: 30px;
$fs-4: 40px;

// margin
$mg-0: 5px;
$mg-1: 10px;
$mg-2: 20px;
$mg-3: 40px;

// padding
$pd-0: 5px;
$pd-1: 10px;
$pd-2: 20px;
$pd-3: 40px;
