<div class="register container" style="padding-top: 100px">
  <h1>DANG KY</h1>
  <form [formGroup]="registerForm" class="form d-flex flex-column">
    <mat-form-field appearance="outline">
      <mat-label>Nhap ten Tai Khoan cua ban!</mat-label>
      <input matInput formControlName="userName" />
      <mat-error *ngIf="registerForm.controls.userName.errors">
        <div>{{ getErrorMessage("userName", "Tai khoan") }}</div>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nhap mat khau</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="registerForm.controls.password.errors">
        <div>{{ getErrorMessage("password", "Mat Khau") }}</div>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nhap email cua ban!</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="registerForm.controls.email.errors">
        <div>{{ getErrorMessage("email", "Email") }}</div>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nhap so dien thoai cua ban!</mat-label>
      <input matInput formControlName="phone" />
      <mat-error *ngIf="registerForm.controls.phone.errors">
        <div>{{ getErrorMessage("phone", "So dien thoai") }}</div>
      </mat-error>
    </mat-form-field>
    <div>
      <button
        mat-button
        type="submit"
        [disabled]="!registerForm.valid"
        (click)="submitForm()"
      >
        Dang ky
      </button>
      <button mat-button type="reset">
        Huy
      </button>
    </div>
  </form>
</div>
