<div class="register container" style="padding-top: 100px">
  <h1>DANG KY</h1>
  <form [formGroup]="registerForm" class="form d-flex flex-column">
    <mat-form-field appearance="outline">
      <mat-label>Nhap ten Tai Khoan cua ban!</mat-label>
      <input matInput formControlName="userName" />
      <mat-error *ngIf="registerForm.controls.userName.errors">
        <p>{{ getErrorMessage("userName", "Tai khoan") }}</p>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nhap mat khau</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="registerForm.controls.password.errors">
        <p>{{ getErrorMessage("password", "Mat Khau") }}</p>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nhap lai mat khau</mat-label>
      <input matInput type="password" formControlName="password2" />
      <mat-error *ngIf="registerForm.controls.password2.errors">
        <p>{{ getErrorMessage("password2", " lai Mat Khau") }}</p>
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="registerForm.errors">
      <p>
        {{
          !registerForm.controls.password2.errors
            ? "Mat khau khong trung khop!"
            : ""
        }}
      </p>
    </mat-error>
    <mat-form-field appearance="outline">
      <mat-label>Nhap ho ten</mat-label>
      <input matInput formControlName="fullName" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nhap email cua ban!</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="registerForm.controls.email.errors">
        <p>{{ getErrorMessage("email", "Email") }}</p>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nhap so dien thoai cua ban!</mat-label>
      <input matInput formControlName="phone" />
      <mat-error *ngIf="registerForm.controls.phone.errors">
        <p>{{ getErrorMessage("phone", "So dien thoai") }}</p>
      </mat-error>
    </mat-form-field>
    <div>
      <button
        mat-button
        type="submit"
        [disabled]="!registerForm.valid"
        (click)="submitForm()"
      >
        Dang ky
      </button>
      <button mat-button type="reset">
        Huy
      </button>
    </div>
  </form>
</div>
